<div class="user-bar">
  <span><%= current_user.username %></span>
  <%= link_to "(sign out)", logout_url %>
</div>

<div class="wrapper">
  <h1>eva·bot</h1>

  <nav class="page-nav">
    <a href=""><%= fa_icon "bar-chart", text: "Dashboard" %></a> 
    <a href=""><%= fa_icon "cogs", text: "Settings" %></a> 
    <a href=""><%= fa_icon "life-ring", text: "Get help" %></a> 
    <a href=""><%= fa_icon "rocket", text: "Contribute" %></a> 
  </nav>

  <div class="page">
    <h2>Repos</h2>
    <p>It looks like you don't have any tracked repos at the moment 😧</p>

    <% if  current_user.remote %>
      <% unless @owner_repos.empty? %>
        <h3>Your repos</h3>
        <ul class="repos">
          <% @owner_repos.each do |repo| %>
            <li>
              <%= check_box_tag 'accept' %>
              <%= repo.name %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% @org_repos.each do |owner_name, repos| %>
        <h3>Repos in the <%= owner_name %> organization</h3>
        <ul class="repos">
          <% repos.each do |repo| %>
            <li>
              <%= check_box_tag 'accept' %>
              <%= repo.full_name %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% unless @collaborator_repos.empty? %>
        <h3>Repos you collaborate in</h3>
        <ul class="repos">
          <% @collaborator_repos.each do |repo| %>
            <li>
              <%= check_box_tag 'accept' %>
              <%= repo.full_name %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% else %>
      It looks like you're not connected to Github, hm... 🤔
    <% end %>
  </div>

</div>
