<%= render layout: "shared/page" do %>
  <h2>Sign out</h2>
  <p>Click <%= link_to "here", logout_url %> to sign out. Eva will still work
  in the background! 🎉</p>

  <h2>Tracked repos</h2>
  <p>It looks like you don't have any tracked repos at the moment 😧</p>

  <% unless user.repos.empty? %>
    <table class="repos">
      <% user.repos.each do |repo| %>
        <tr>
          <td>
            <div>
            <%= form_for(repo, remote: true) do |f| %>
            <%= f.check_box :tracked %>
            </div>
          <td>
            <%= link_to repo.url do %>
              <%= repo.owner %>/<wbr><%= repo.name %>
            <% end %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
