<div class="wrapper">
  <h1>eva·bot</h1>

  <nav class="page-nav">
    <%= link_to fa_icon("bar-chart", text: "Dashboard"), dashboard_path %>
    <%= link_to fa_icon("cogs", text: "Settings"), settings_path %>
    <%= link_to fa_icon("life-ring", text: "Get help"), "" %>
    <%= link_to fa_icon("rocket", text: "Contribute"), "" %>
  </nav>

  <div class="page">
    <h2>Sign out</h2>
    <p>Click <%= link_to "here", logout_url %> to sign out. Eva will still work
    in the background! 🎉</p>

    <h2>Tracked repos</h2>
    <p>It looks like you don't have any tracked repos at the moment 😧</p>

    <% if current_user.remote %>
      <% unless @remote_repos.empty? %>
        <table class="repos">
          <% @remote_repos.each do |repo| %>
            <tr>
              <td><%= check_box_tag 'accept' %></td>
              <td>
                <%= link_to repo.html_url do %>
                  <%= repo.owner.login %>/<wbr><%= repo.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% else %>
      It looks like you're not connected to Github, hm... 🤔
    <% end %>
  </div>

</div>
