<div class="user-bar">
  <span><%= current_user.username %></span>
  <%= link_to "(sign out)", logout_url %>
</div>

<div class="wrapper">
  <h1>eva·bot</h1>

  <nav class="page-nav">
    <%= link_to fa_icon("bar-chart", text: "Dashboard"), dashboard_path %>
    <%= link_to fa_icon("cogs", text: "Settings"), settings_path %>
    <%= link_to fa_icon("life-ring", text: "Get help"), "" %>
    <%= link_to fa_icon("rocket", text: "Contribute"), "" %>
  </nav>

  <div class="page">
    <h2>Tracked repos</h2>
    <p>It looks like you don't have any tracked repos at the moment 😧</p>

    <% if current_user.remote %>
      <% unless @remote_repos.empty? %>
        <ul class="repos">
          <% @remote_repos.each do |repo| %>
            <li>
              <%= check_box_tag 'accept' %>
              <%= repo.full_name %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% else %>
      It looks like you're not connected to Github, hm... 🤔
    <% end %>
  </div>

</div>
